@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@800&display=swap'); // font-family : Poppins; font-family : Lato;
@import url('./Normalize.css');
:root {
    background-color: #C6C6C6;
}

.red_button {
    padding: 20px;
    background-color: #FF6262;
    color: white;
    border: none;
    width: calc(100vw / 5);
    font-size: 1.25rem;
    border-radius: 2vh;
    &:hover {
        background-color: lighten($color: #FF6262, $amount: 5);
        cursor: pointer;
    }
}

#navbar {
    background-color: #EEEEEE;
    padding: 20px;
    display: grid;
    a {
        transition: 500ms;
        font-family: Lato;
        width: 10vw;
        text-align: center;
        font-size: 1.5rem;
        grid-row: 1;
        grid-column: 8/10;
        &:first-child {
            font-size: 2rem;
            font-family: Poppins;
            grid-column: 1/10;
            &:hover {
                background-color: #EEEEEE;
            }
        }
        &:last-child {
            grid-column: 9/10;
        }
        &:hover {
            background-color: #C6C6C6;
        }
    }
    li {
        list-style-type: none;
        font-family: Lato;
        width: 10vw;
        text-align: center;
        font-size: 1.5rem;
        grid-row: 1;
        grid-column: 8/10;
        position: relative;
        &>ul {
            padding-left: 0;
            display: none;
            position: absolute;
            z-index: 50;
            top: 10px;
            transition: 500ms;
            background-color: #d9d9d9;
            width: 10vw;
        }
        &:hover {
            background-color: #C6C6C6;
            &>ul {
                display: block;
            }
        }
    }
}

#login {
    width: 100vw;
    text-align: center;
    font-family: Lato;
    &>h1 {
        font-weight: normal;
        color: #676767;
        font-size: 1.75rem;
    }
    input {
        border: none;
        width: calc(100vw / 4);
        font-size: 1.25rem;
        border-radius: 10px;
        background-color: white;
        color: #676767;
        margin-bottom: 3vh;
        padding: 20px;
        &:hover,
        &:focus {
            outline: none;
        }
    }
    button {
        @extend .red_button;
    }
}